@import '../../../resources/color_manager.css'; /* Import color manager */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 14%;
    margin: 0px 10px;
    height: 68vh;
    
}


.hero-text{
    color:var(--primaryAmber);
    font-size: 50px;
    font-weight: 500;
    line-height: 10vh;
}
.hero-text-p1{
    font-size: 30px;
    font-weight: 500;
    color: var(--blue);
}

.hero-explore{
    display: flex;
    gap: 50px;
    align-items: center;
    width: fit-content;
    margin-top: 5vh;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: var(--blue);
    cursor: pointer;
}

.hero-explore p{
    color:var(--white);
    font-size: 20px;
    font-weight: 500;
}

.hero-dot-play{
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
}

.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background-color: var(--secondary);
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.orange{
    background-color: var(--primaryAmber);
}

.hero-play{
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-play p{
    font-size: 19px;
    color: var(--primaryAmber);
}